{% extends 'catalog/base.html' %}

{% block content %}
<div class="container my-5">
    <!-- Заголовок страницы -->
    <div class="text-center mb-5">
        <h1 class="display-4">О нас</h1>
        <p class="lead">Узнайте больше о нашем проекте и команде</p>
    </div>

    <!-- Основной контент -->
    <div class="row">
        <!-- Блок "Обо мне" -->
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Привет, меня зовут Хусрав Махмаджанов</h2>
                    <p class="card-text">
                        Мне 21 год, и я живу в прекрасном городе Карши, Узбекистан. В настоящее время я учусь на 4 курсе
                        Каршинском филиале Ташкентского университета информационных технологий (ТАТУ) по специальности
                        "Программный
                        инжиниринг".
                        Этот проект — мой дипломный, и он является важным шагом в моей профессиональной карьере.
                    </p>
                    <p class="card-text">
                        Идея создания этого онлайн-магазина книг появилась у меня давно, но реализовать её было
                        непросто.
                        Однако сейчас, благодаря накопленному опыту и знаниям, я смог воплотить её в жизнь. Этот проект
                        стал
                        для меня не только вызовом, но и возможностью применить свои навыки на практике.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок "Мои навыки" -->
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Мои навыки</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Python</li>
                                <li class="list-group-item">Django</li>
                                <li class="list-group-item">Flask</li>
                                <li class="list-group-item">HTML/CSS</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Git и GitHub</li>
                                <li class="list-group-item">Docker</li>
                                <li class="list-group-item">API</li>
                                <li class="list-group-item">Bootstrap</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок "Цель проекта" -->
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Цель проекта</h2>
                    <p class="card-text">
                        Этот проект — не просто часть моей дипломной работы. Это результат моей страсти к
                        программированию
                        и желания создать что-то полезное для людей. Я верю, что книги — это источник знаний и
                        вдохновения,
                        и мой магазин поможет каждому найти именно ту книгу, которая изменит его жизнь.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок "Технологии и ресурсы" -->
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Технологии и ресурсы</h2>
                    <p class="card-text">
                        Для создания этого проекта я использовал следующие технологии и ресурсы:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Django</strong> — фреймворк для быстрой разработки веб-приложений на Python.
                            <a href="https://www.djangoproject.com/" target="_blank"
                                class="text-decoration-none">Официальный сайт</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Bootstrap</strong> — библиотека для создания адаптивных и современных интерфейсов.
                            <a href="https://getbootstrap.com/" target="_blank" class="text-decoration-none">Официальный
                                сайт</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Django Allauth</strong> — библиотека для аутентификации и регистрации пользователей.
                            <a href="https://django-allauth.readthedocs.io/" target="_blank"
                                class="text-decoration-none">Документация</a>
                        </li>
                        <li class="list-group-item">
                            <strong>SQLite</strong> — встроенная база данных для разработки.
                            <a href="https://www.sqlite.org/index.html" target="_blank"
                                class="text-decoration-none">Официальный сайт</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Git и GitHub</strong> — система контроля версий и платформа для хранения кода.
                            <a href="https://git-scm.com/" target="_blank" class="text-decoration-none">Официальный сайт
                                Git</a>,
                            <a href="https://github.com/" target="_blank" class="text-decoration-none">GitHub</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Docker</strong> — инструмент для контейнеризации приложений.
                            <a href="https://www.docker.com/" target="_blank" class="text-decoration-none">Официальный
                                сайт</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Stack Overflow</strong> — платформа для поиска решений проблем.
                            <a href="https://stackoverflow.com/" target="_blank" class="text-decoration-none">Перейти на
                                сайт</a>
                        </li>
                        <li class="list-group-item">
                            <strong>MDN Web Docs</strong> — документация по HTML, CSS и JavaScript.
                            <a href="https://developer.mozilla.org/" target="_blank"
                                class="text-decoration-none">Перейти на сайт</a>
                        </li>
                    </ul>
                    <p class="card-text mt-3">
                        На создание этого проекта ушло около <strong>2 месяцев</strong>, включая изучение новых
                        технологий,
                        разработку и тестирование.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок "Почему этот проект важен для меня?" -->
    <div class="row mt-5 mb-5">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Почему этот проект важен для меня?</h2>
                    <p class="card-text">
                        Создание этого магазина стало для меня настоящим приключением. Я столкнулся с множеством
                        вызовов,
                        но каждый из них помог мне стать лучше как разработчику. Этот проект — не только шаг к получению
                        диплома, но и важный этап моего профессионального роста.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}