<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Онлайн магазин книг{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="{% url 'book_list' %}">TUITКнига</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link me-2" href="{% url 'book_list' %}">Главная</a>
            <a class="nav-link" href="{% url 'about' %}">О нас</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <!-- Раскрывающаяся кнопка "Каталог" -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Каталог
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for catalog in catalogs %}
                            <li><a class="dropdown-item" href="{% url 'book_list_by_catalog' catalog.id %}">
                                    {{ catalog.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <!-- Поиск -->
                    <form class="d-flex" method="get" action="{% url 'book_list' %}">
                        <input class="form-control me-2" type="search" name="q"
                            placeholder="Поиск по названию или автору" aria-label="Search">
                        <button class="btn btn-outline-success me-1" type="submit">Найти</button>
                    </form>

                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Профиль
                        </button>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <li>
                                <a class="dropdown-item" href="{% url 'profile' %}">Мои заказы</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'cart' %}">
                                    <i class="bi bi-cart"></i> Корзина
                                    {% if cart_item_count > 0 %}
                                    <span class="badge bg-danger ms-2">{{ cart_item_count }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                            </li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
    </nav>

    {% if messages %}
    <br>
    <div class="container d-flex justify-content-center">
        {% for message in messages %}
        <div class="alert 
                {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} 
                alert-dismissible fade show small-message" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
        {% endfor %}
    </div>

    <script>
        // Автоматическое скрытие через 5 секунд
        setTimeout(() => {
            let alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                let bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            });
        }, 10000);
    </script>
    {% endif %}

    <!-- Основной контент -->
    <div class="container mt-4">
        {% block content %} {% endblock %}
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-body-secondary">О нас</a>
                </li>
                <li class="nav-item"><a href="https://t.me/xmn2003"
                        class="nav-link px-2 text-body-secondary">Телеграм</a></li>
            </ul>
            <p class="text-center text-body-secondary">TUITКнига | 2025</p>
        </footer>
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>